body {
  height: 100%;
  background-color: #1f2937;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section {
  display: flex;
}
.heder {
  color: aliceblue;
  font-size: 20px;
  text-transform: capitalize;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: #10b981;
  padding: 7px;
  font-size: 40px;
  width: 100%;
  height: 100%;
  cursor: default;
}
#total {
  cursor: pointer;
}
#total:hover {
  color: #76ffd1;
  transition: 1s;
}

.allCrypto {
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  top: 10px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: auto;
  max-width: 1050px;
}

.card {
  padding: 1rem;
  background-color: aliceblue;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 262px;
  border-radius: 20px;
  margin: 20px;
}
.card:last-of-type {
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: inset 0 0 0 1px black;
  outline: 3px solid rgb(255, 0, 128);
}
#allBtc,
#allSOL,
#allDot,
#allMatic,
#allStellar,
#allShib,
#allLink,
#allNear,
#allAvax {
  opacity: 0;
}
.card:hover #allDot,
.card:hover #allMatic,
.card:hover #allStellar,
.card:hover #allSOL,
.card:hover #allBtc,
.card:hover #allShib,
.card:hover #allLink,
.card:hover #allNear,
.card:hover #allAvax {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0.6;
  }
  40% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
}
.span {
  color: #646464;
  /* transform: translateX(40px); */
  /* transform: translateY(-30px); */
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* border-radius: 20px; */
  /* padding-bottom: 15px; */
}
/* colors */
.colorBTC {
  background-color: rgb(255, 159, 34);
}
.colorSOL {
  background-color: rgb(0, 224, 236);
}
.colorMatic {
  background-color: rgb(140, 49, 225);
}
.colorPolkadot {
  background-color: rgb(210, 0, 158);
}
.colorStellar {
  background-color: rgb(40, 38, 32);
}
.colorShibaInu {
  background-color: rgb(255, 56, 25);
}
.colorLink {
  background-color: rgb(14, 66, 255);
}
.colorNear {
  background-color: rgb(2, 229, 123);
}
.colorAvax {
  background-color: rgb(229, 2, 59);
}

.color-change-4x {
  animation: color-change-4x 16s linear infinite alternate both;
}
@keyframes color-change-4x {
  0% {
    background: #1f2937;
  }
  33.3333% {
    background: #253448;
  }
  66.666% {
    background: #16202f;
  }
  100% {
    background: #28313d;
  }
}

/* colors */
.title span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 40px;
}

.title-text {
  margin-left: 0.5rem;
  color: #374151;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.percent {
  margin-left: 0.9rem;
  color: #1f2937;
  font-weight: 600;
  display: flex;
  font-size: 1.9rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #014c17;
  font-size: 3.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
}

.data .range {
  position: relative;
  background-color: #e5e7eb;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
}

.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10b981;
  height: 100%;
  border-radius: 1rem;
}
#total {
  color: azure;
}

footer {
  background-color: #121821;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media (max-width: 680px) {
  section {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }
}
